/* !
 * Filter strategies
 */
@import '../../node_modules/bourbon/app/assets/stylesheets/bourbon';

@import
  'utils/mixins',
  'utils/variables',
  'utils/helpers',
  'utils/utilities',
  'utils/spacing-utilities';
@import
  'vendor/bootstrap';
@import
  'components/icons',
  'components/filter',
  'components/custom-checkbox',
  'components/custom-select',
  'components/items-list',
  'components/items-count',
  'components/items-wrapper';

body,
html {
  background: #faf9f9;
  font-size: 15px;
}

body {
  border-top: 5px solid $color-primary;
}

.container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.is-cloaked {
  opacity: 0;
}
